#display {
  width: 50%;
  height: 300px;
  margin: 0 auto;
  border: 3px solid black;
  padding: 5px;
}

#input {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

#button {
  display: block;
  margin-left: 69%;
  margin-top: 5px;
}
